@import "~bootstrap/scss/bootstrap";

body {
    .navbar {
        padding: 0.5rem 1rem;

        .mr-auto {
            margin-right: auto;
        }
    }
    .table {
        .thead-dark {
            th {
                color: #ffffff;
                background-color: #212529;
                border-color: #32383e;
            }
        }
    }

    #login-cover {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        position: relative;

        #login-cover-caption {
            width: 100%;
            position: relative;
            z-index: 1;

            .form-group {
                margin-bottom: 1rem;
            }
        }
    }

    &.home {
        background-color: lightgrey;

        #navbarSupportedContent {
            .btn {
                margin-right: 1rem;
            }
        }
    }

    &.admin {
        background-color: #ffffff;

        #navbarSupportedContent {
            .btn {
                margin-right: 1rem;
            }
        }
    }
}
