{% extends 'home/index.html.twig' %}

{% block content %}
    
    <h1>Merci, votre demande a bien été envoyée !</h1>
    <p>Pour retourner à l'accueil, cliquez <a href="{{ path('app_home') }}">ici</a></p>

{% endblock %}
